.App {
  text-align: left;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  color: #61dafb;
  font-family: Arial;
  font-size: 24px;
  margin: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Span-text {
  color: darkkhaki;
  font-family: Arial;
  font-size: 20px;
  width: 80%;
}

.Video {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.Audio {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 20vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Cli {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 40px;
}

code {
  background-color:  #282c34;
  color: cornflowerblue;
  font-size: 18px;
}

a {
  color: lightseagreen ;
}

.MatButton {
  height: 50px;
  width: 100px;
}


.Video-title {
  color: #61dafb;
  font-family: Arial;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  margin: 10px;
}


.Video-category {
  color: #61dafb;
  font-family: Arial;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
}


.Theme-Label {
  font-size: 14px;
  color: white;
  align-items: center;
}

h3 {
  width: 80%;
  color: darkkhaki;
  font-family: Arial;

}

h4 {
  width: 80%;
  color: darkkhaki;
  font-family: Arial;
}

h5 {
  width: 80%;
  color: orangered;
  font-family: Arial;
}
h6 {
  width: 80%;
  color: greenyellow;
  font-family: Arial;
}
